{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<script src="/js/vendor/jquery-1.9.1.min.js"></script>
<script src="/js/vendor/bootstrap.min.js"></script>
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
    
  <div class="alert alert-success alert-dismissible" role="alert">
    <strong>Bien!</strong> Vous êtes désormais connecté.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  </div>
 
    {% endif %}

    
    
   

    <body>
  <div class="container bg-info" >
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Se connecter</h5>
            <form class="form-signin">
              <div class="form-label-group">
              <label for="inputEmail">Adresse email</label>
                <input value="{{last_username}}" name="email" id="inputEmail" class="form-control mb-4" autocomplete="email" required autofocus>
                
              </div>

              <div class="form-label-group">
              <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control mb-4" autocomplete="current-password" required>
                
              </div>
              <input type="hidden" name="_csrf_token"
              value="{{ csrf_token('authenticate') }}"
              >
              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label mb-4" for="customCheck1">Se souvenir du mot de passe</label>
              </div>
              <button class="btn btn-lg btn-primary btn-block mb-4 " data-toggle="modal" data-target="#myModal" type="submit">Se connecter</button>
              <hr class="my-4">
              

              
             
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
    

    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

    
</form>
{% endblock %}
