{# /templates/hello.html.twig #}
Hello {{ name }}!

<div>
{% 
set tableau, article = [1,2,3], {
 'titre': 'Etendre Twig',
 'contenu': 'Il est possible ...'
}
%}
{{ tableau.2 ~ ' ' ~ tableau|first  }} {# "2 1" #}
{{ article.titre }} {# "Etendre Twig" #}
{{ article.contenu }} {# "Il est possible ..." #}
</div>
