<form method="post" action="{{ path('voiture_delete', {'id': voiture.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer cette voiture ? ');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ voiture.id) }}">
    <button class="btn btn-danger">Supprimer</button>
</form>
