{{ form_start(form) }}
<div class="mb-auto">
    {% form_theme form 'bootstrap_4_layout.html.twig' %}
    {{ form_widget(form) }}
</div>
<button class="btn d-flex m-auto">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
