{% extends 'base.html.twig' %}

{% block title %}Nouvelle Voiture{% endblock %}

{% block body %}
    <h2 class="text-center font-weight-light mt-3 mb-4">Ajouter une nouvelle voiture</h2>

    <div class="mx-auto" style="width: 500px;">
        {{ include('voiture/_form.html.twig') }}
    </div>
{% endblock %}
